/* root colors */
:root {
  --color-purple: #5808a3;
  --color-purple-light: #7d25ce;
    --color-purple-dark: #3c0073;
}

.bg-purple{
    background-color: var(--color-purple);
}
.bg-purple-light{
    background-color: var(--color-purple-light);
}
.bg-purple-dark{
    background-color: var(--color-purple-dark);
}
.border-purple{
    border-color: var(--color-purple);
}
.border-purple-light{
    border-color: var(--color-purple-light);
}
.border-purple-dark{
    border-color: var(--color-purple-dark);
}